@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;border:0;}

/* 输入框和下拉按钮及其容器的样式 */
.sltwarp{
    width:300px;
    height:30px;
    list-style:none;
    border:1px solid #CCC;
    border-radius:5px;
    padding-left: 5px;
}
.sltwarp span{
    display: block;
}
.sltwarp span.sltcontent{
    width: 90%;
    height: 30px;
    line-height: 30px;
    float: left;
}
.sltwarp span.sltcontent:focus{
    outline: 0;
}
.sltwarp span.sltarrow{
    width:30px;
    height:99%;
    border-radius:0 5px 5px 0;
    background:url(./combo_arrow.png) center #e0ecff;
    background-repeat:no-repeat;
    float: right;
}

/* 下拉列表的样式 */
ul.sltlist{
    width: 97%;
    max-height:200px;
    list-style:none;
    border:1px solid #CCC;
    background-color:#FFF;
    overflow-y:auto;
    overflow-x:hidden;
    display: none;
}
ul.sltlist li{
    min-height:26px;
    padding-left:6px;
    line-height:26px;
    word-wrap: break-word;
    word-break: normal;
}
ul.sltlist li:hover{
    background-color:#e0ecff;
}
ul.sltlist li:first-child{
    border-top:0;
}


