@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;border:0;}

/* 输入框和下拉按钮及其容器的样式 */
.combo_select{
	width:300px;
	height:30px;
	list-style:none;
	border:1px solid #CCC;
	border-radius:5px;
	}
input.input_text{
	border-radius: 5px 0 0 5px;
	padding-left: 6px;
	*background-color: red;
	*bottom:0px;
	*right:100px;
	*position: relative;
	}
input.input_text:focus{
	outline: 0;
	}
a.arrow{
	width:30px;
	height:30px;
	border-radius:0 5px 5px 0;
	background:url(./combo_arrow.png) center #e0ecff;
	background-repeat:no-repeat;
	float:right;
	*bottom:32px;
	*position: relative;
}

/* 下拉列表的样式 */
ul.ul_list{
	max-height:200px;
	list-style:none;
	border:1px solid #CCC;
	background-color:#FFF;
	position:absolute;
	z-index:1;
	overflow-y:auto;
	overflow-x:hidden;
	}
li.li_option{
	min-height:26px;
	padding-left:6px;
	line-height:26px;
	word-wrap: break-word;
	word-break: normal;
	}
li.li_option:hover{
	background-color:#e0ecff;
	}
li.li_option:first-child{
	border-top:0;
	}


